/* ================== FONTS ================== */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

/* ================== VARIABLES ================== */
:root {
  /* ==================== Colors ======================*/
  --body-color: #E5E5E5;
  --white-color: #fff;
  --text-color: #767676;
  --text-color-light: #737373;
  --black-color: #000;

  --linear-gradient-color-1: #B90160;
  --linear-gradient-color-2: hsla(238, 52%, 38%, 0.702);
  --linear-gradient-color-3: #3D5BF5;
  --linear-gradient-color-4: hsla(338, 83%, 45%, 0.7);

  --background-gradient-1: linear-gradient(269.91deg, var(--linear-gradient-color-2) 0%, var(--linear-gradient-color-4) 98.16%);
  --background-gradient-2: linear-gradient(95.2deg, var(--linear-gradient-color-1) 2.23%, var(--linear-gradient-color-2) 99.51%);
  --background-gradient-3: linear-gradient(var(--linear-gradient-color-1), var(--linear-gradient-color-3));
  
  /* ==================== Font and Typography ======================*/
  --body-font: 'Roboto', sans-serif;

  --biggest-font-size: 1.5rem;
  --bigger-font-size: 1.875rem;
  --big-font-size: 1.25rem;
  --h3-font-size: 0.625rem;
  --h4-font-size: 0.75rem;
  --normal-font-size: 0.875rem;
  --small-font-size: var(--normal-font-size);

  /* ==================== Font Weight ======================*/
  --font-light: 300;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;

  /* ==================== Margenes Bottom ======================*/
  --mb-0-5: .5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /* ==================== Z index ======================*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/* ==================== RESPONSIVE TYPOGRAPY ======================*/

@media screen and (min-width: 576px) {
  :root {
    --biggest-font-size: 2.5rem;
    --bigger-font-size: 2.25rem;
    --big-font-size: 1.5rem;
    --h3-font-size: 0.9375rem;
    --h4-font-size: 1.125rem;
    --small-font-size: 0.75rem;
  }
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.125rem;
    --h3-font-size: 1.25rem;
    --small-font-size: 0.9375rem;
  }
}